// Background colors

.background-white {
    background-color: #FFF;
}

// Text colors

.color-body {
    color: $color-body;

    &:after {
        background-color: $color-body;
    }

}

.color-white {
    color: #FFF;

    &:after {
        background-color: #FFF;
    }

}
