// Clearfix

.clearfix {

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }

}

// Window sizes

.fit-height {
    min-height: 100vh;
}

.fit-width {
    width: 100%;
}

// Float

.float-left {
    float: left;
}

.float-right {
    float: right;
}

// Overflow

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

// Positioning

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

@media screen and (max-width: $breakpoint-md - 1) {

    // Showing and hiding elements

    .hide-sm {
        display: none;
    }

    .show-sm {
        display: block;
    }
    
    .show-md {
        display: none;
    }
    
    .show-lg {
        display: none;
    } 

}

@media screen and (min-width: $breakpoint-md) {

    // Float

    .float-left-md {
        float: left;
    }
    
    .float-right-md {
        float: right;
    }

    // Showing and hiding elements

    .hide-sm {
        display: block;
    }
    
    .hide-md {
        display: none;
    }

    .show-sm {
        display: none;
    }
    
    .show-md {
        display: block;
    }
    
    .show-lg {
        display: none;
    }  

}

@media screen and (min-width: $breakpoint-lg) {

    // Float

    .float-left-lg {
        float: left;
    }
    
    .float-right-lg {
        float: right;
    }

    // Showing and hiding elements

    .hide-sm {
        display: block;
    }
    
    .hide-md {
        display: block;
    }

    .hide-lg {
        display: none;
    }
    
    .show-sm {
        display: none;
    }
    
    .show-md {
        display: none;
    }
    
    .show-lg {
        display: block;
    }  

}
