.logo {
    background-color: #000;
    background-image: url(/assets/images/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    display: block;
    height: 32px;
    left: 0px;
    position: fixed;
    top: $white-space-4;
    transform: translateX(-100%);
    transition: all 0.1s;
    width: 32px;

    @media screen and (max-width: 1224px) {
        display: none;
    }


}

.logo-visible {
    transform: translateX(0);
}