// Breakpoints

$breakpoint-sm: 0;
$breakpoint-md: 680px;
$breakpoint-lg: 960px;

// Font stacks

$font-family-body: "proxima-nova", sans-serif;
$font-family-display: "utopia-std", sans-serif;

// Colors

$background-body: #FFF;
$color-body: #222;
$color-border: rgba(#000, 0.2);

// White space

$white-space-1: 8px;
$white-space-2: 16px;
$white-space-3: 32px;
$white-space-4: 64px;
$white-space-5: 128px;
