// Grid background for showing Origami workflows

.background-origami {
    background-color: #323233;
    background-image: url(/assets/images/cover/origami-background.png);
    background-position: 50% 50%;
    background-size: 50px 50px;
}

// Hero images

.hero {
    background-size: cover;
    background-position: center center;
    padding: 120px 0;
}

.hero-cover {
    background-color: #6C19DB;
    background-image: url(/assets/images/cover/project-hero.jpg);
    color: #FFF;
}

// Animated carousel

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-images {
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: carousel;
    animation-timing-function: linear;
    width: 4050px;
}

.carousel-image {
    float: left;
    max-width: none;
    width: 50%;
}

// Limits height of scrolling screenshots (to be used with overflow utilities)

.constrain-height {
    height: 580px;
}

// iPhone container

.iphone {
    overflow: hidden;
    position: relative;

    &:before {
        display: block;
        content: "";
        padding-top: 177.866%;
        width: 100%;
    }

    img { width: 100%; }

}

.iphone-top {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2;
}

.iphone-body {
    bottom: 0;
    left: 0;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;
}

.iphone-bottom {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}
