// Basic Styles

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background: #8B93A3;
}

::-moz-selection {
    background: #8B93A3;
}

body {
    background-color: #2B303B;
    color: #504C2F;
    font-family: 'futura-pt', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

a {
    color: #6E7C98;
    text-decoration: none;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;

    &:hover {
        color: #FFF;
    }

}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 30px;

    @media screen and (max-width: 670px) {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 20px;
    }

}

p {
    margin-bottom: 18px;

    &.lead {
        font-size: 28px;
        font-weight: 500;
        line-height: 37px;
    }
}

small {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.vertical-align-wrapper {
    height: 100%;
    position: absolute;

    .vertical-align {
        @media screen and (min-width: 670px) {
            max-height: 100%;
            position: relative;
            top: 50%;
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }

}

.hidden {
    display: none;
}

.clearfix {

    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }

}

// Animations
// Thanks to Dan Eden for the inspiration
// https://github.com/daneden/animate.css

.animated {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-out {
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
}

@-webkit-keyframes fade-in-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fade-in-up {
    -webkit-animation-name: fade-in-up;
    animation-name: fade-in-up;
}

@-webkit-keyframes bounce-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes bounce-in {
    0% {
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    60% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.bounce-in {
    -webkit-animation-name: bounce-in;
    animation-name: bounce-in;
}

@-webkit-keyframes bounce-out {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

@keyframes bounce-out {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

.bounce-out {
    -webkit-animation-name: bounce-out;
    animation-name: bounce-out;
}

// Introduction

.introduction-wrapper {
    @extend .vertical-align-wrapper;

    .introduction {
        @extend .vertical-align;
        margin: 0 80px;
        max-width: 800px;
        padding: 20px;

        @media screen and (max-width: 670px) {
            max-width: 500px;
            margin: 0 auto;
        }

        h1 {
            color: #FFDC00;
        }

        ul {
            @extend .animated;
            @extend .fade-in-up;
            -webkit-animation-delay: 1s;
            animation-delay: 1s;
            list-style: none;
            padding-left: 0;
        }

        li {
            float: left;
            font-weight: 500;
            margin: 0 20px 10px 0;

            @media screen and (max-width: 400px) {
                float: none;
            }

        }

    }

}

// Info

.info-wrapper {
    @extend .animated;
    @extend .vertical-align-wrapper;
    background-color: #FFDC00;
    left: 80px;
    overflow: scroll;
    padding: 40px;
    right: 0;
    -moz-transition: left 0.25s;
    -webkit-transition: left 0.25s;
    transition: left 0.25s;
    z-index: 2;

    @media screen and (max-width: 670px) {
        left: 0;
    }

    .info {
        @extend .animated;
        @extend .clearfix;
        @extend .vertical-align;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
        margin: 0 auto;
        max-width: 830px;
        opacity: 0;

        a {
            border-bottom: 2px solid #504C2F;
            color: #504C2F;
            display: inline-block;
            margin-bottom: -3px;
            padding-bottom: 1px;
            -moz-transition: all 0.25s;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
            
            &:hover {
                color: #504C2F;
                margin-bottom: -5px;
                padding-bottom: 3px;
            }
        }

        @media screen and (min-width: 670px) {
            .column {
                float: left;
                padding: 0 20px;
                width: 50%;
            }
        }

    }

}

.info-mask {
    background-color: transparent;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: visible;
    z-index: 1;
}

.info-close:hover {
    cursor: e-resize;
}