// Basic Styles

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background: #8B93A3;
}

::-moz-selection {
    background: #8B93A3;
}

body {
    background-color: #2B303B;
    color: #504C2F;
    font-family: 'futura-pt', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
}

a {
    color: #6E7C98;
    text-decoration: none;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;

    &:hover {
        color: #FFF;
    }
}

p {
    margin-bottom: 18px;

    &.lead {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }
}

.vertical-align-wrapper {
    height: 100%;
    position: absolute;
}

.vertical-align {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.clearfix {
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Animations
// Thanks to Dan Eden for the inspiration
// https://github.com/daneden/animate.css

.animated {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes bounceInRight {
    0% {
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    60% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

@-webkit-keyframes bounceOutRight {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

@keyframes bounceOutRight {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

.bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    animation-name: bounceOutRight;
}

// Introduction

.introduction-wrapper {
    @extend .vertical-align-wrapper;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    .introduction {
        @extend .vertical-align;
        margin: 0 80px;
        max-width: 800px;
        padding: 20px;

        @media screen and (max-width: 670px) {
            max-width: 500px;
            margin: 0 auto;
        }

        h1 {
            color: #FFDC00;
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            margin-bottom: 30px;

            @media screen and (max-width: 670px) {
                font-size: 32px;
                line-height: 42px;
            }

        }

        ul {
            @extend .animated;
            @extend .fadeInUp;
            -webkit-animation-delay: 1s;
            animation-delay: 1s;
            list-style: none;
            padding-left: 0;
        }

        li {
            float: left;
            font-weight: 500;
            margin-right: 20px;
        }

    }

}

// Bio

.info-wrapper {
    @extend .animated;
    @extend .vertical-align-wrapper;
    background-color: #FFDC00;
    bottom: 0;
    left: 100%;
    overflow: scroll;
    padding: 100px 70px 100px 40px;
    position: absolute;
    right: -10px;
    top: 0;

    &:hover {
        cursor: e-resize;
    }

    &.info-wrapper-open {
        @extend .bounceInRight;
        left: 80px;
    }

    &.info-wrapper-closing {
        @extend .bounceOutRight;
    }

    .info {
        @extend .animated;
        @extend .vertical-align;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
        margin: 0 auto;
        max-width: 830px;
        opacity: 0;
        position: relative;

    }

}