.color-body {
	border-color: $color-body;
	color: $color-body;
}

.color-white {
	border-color: #FFF;
	color: #FFF;
}

.color-cover {
	border-color: #6C19DB;
	color: #6C19DB;
}

.color-etsy {
	border-color: #F76400;
	color: #F76400;
}

.color-huge {
	border-color: #EF008C;
	color: #EF008C;
}

.color-instagram {
	border-color: #004B7D;
	color: #004B7D;
}

.color-twitter {
	border-color: #50ABF1;
	color: #50ABF1;
}

