.clearfix {

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }

}

.float-left  { float: left; }
.float-right { float: right; }

@media screen and (min-width: $breakpoint-md) {

    .float-left-md  { float: left; }
    .float-right-md { float: right; }

}

@media screen and (min-width: $breakpoint-lg) {

    .float-left-lg  { float: left; }
    .float-right-lg { float: right; }

}

.height-vh-100 {
    min-height: 100vh;
}