.clearfix {

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }

}

.fit-height { min-height: 100vh; }
.fit-width  { width: 100%; }

.float-left  { float: left; }
.float-right { float: right; }

@media screen and (min-width: $breakpoint-md) {

    .float-left-md  { float: left; }
    .float-right-md { float: right; }

}

@media screen and (min-width: $breakpoint-lg) {

    .float-left-lg  { float: left; }
    .float-right-lg { float: right; }

}

.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
