body {
    color: $color-body;
    font-family: $font-family-body;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;

    @media screen and (min-width: $breakpoint-md) {
        font-size: 20px;
    }

}

h1, h2, h3, h4, h5, h6, p {
    margin: 24px 0;
}

h1, h2, h3 {
    font-family: $font-family-display;
    font-weight: 600;
    line-height: 1.6;
}

h4, h5, h6 {
    font-family: $font-family-body;
    font-weight: 600;
}

h1 {
    font-size: 32px;

    @media screen and (min-width: $breakpoint-md) {
        font-size: 64px;
    }

}

h2 {
    font-size: 24px;

    @media screen and (min-width: $breakpoint-md) {
        font-size: 48px;
    }

}

h3 {
    font-size: 20px;

    @media screen and (min-width: $breakpoint-md) {
        font-size: 32px;
    }


}

h4 {
    font-size: 16px;

    @media screen and (min-width: $breakpoint-md) {
        font-size: 20px;
    }

}

h5 {
    font-size: 13px;

    @media screen and (min-width: $breakpoint-md) {
        font-size: 16px;
    }

}

h6 {
    font-size: 10px;

    @media screen and (min-width: $breakpoint-md) {
        font-size: 13px;
    }

}

p {
    max-width: 580px;

    @media screen and (min-width: $breakpoint-md) {
        max-width: 640px;
    }

}

a {
    color: $color-body;
    padding-bottom: 5px;
    position: relative;
    text-decoration: none;

    &:after {
        background-color: $color-body;
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        transition: right 0.2s ease, left 0.2s ease;
    }

    &:hover:after {
        left: 50%;
        right: 50%;
    }

}

.wf-loading { visibility: hidden; }
